# Comma seperated list of application's melody monitoring url
# Credentials for basic authentification provided in urls

# Example :

# javamelody.collector.applications= \
# https://user:password@app1.mydomain.com/app1/monitoring,\
# http://app2.mydomain.com/app2/monitoring
