# java melody applications to scrap
---
#

applications:

#
# Model :
#
#-
#   name:
#   url:
#   login:
#   password:
#   labels:
#     - "label1=value1"
#     - "label2=value2"
#     - ...
#   metrics:
#     - metric1
#     - metric2
#     - ...
#
# where metrics can be :
#
# httpHitsRate
# httpMeanTimes
# httpSystemErrors
# tomcatBusyThreads
# tomcatBytesReceived
# tomcatBytesSent
# usedMemory
# cpu
# httpSessions
# activeThreads
# activeConnections
# usedConnections
# gc
# threadCount
# loadedClassesCount
# usedNonHeapMemory
# usedPhysicalMemorySize
# usedSwapSpaceSize
# httpSessionsMeanAge
# sqlHitsRate
# sqlMeanTimes
# sqlSystemErrors
# fileDescriptors
#

# predefined entry for self monitoring
-
  name: melodyexporter
  url: "http://localhost:8080/melodyexporter/monitoring"
  login:
  password:
  labels:
    - "env=monitoring"
  metrics:
    - cpu
    - usedMemory

#
...
#
