# java melody exporter settings

timeout: 5000

#
---
# java melody applications to scrap

applications:

#
# Model :
#
#- name:
#  url:
#  login:
#  password:
#  metrics:
#  - name: metric1
#    labels:
#      label1: value1
#      label2: value2
#      ...
#  - name: metric2
#    labels:
#      ...
#  - ...
#
# where metrics can be :
#
# httpHitsRate
# httpMeanTimes
# httpSystemErrors
# tomcatBusyThreads
# tomcatBytesReceived
# tomcatBytesSent
# usedMemory
# cpu
# httpSessions
# activeThreads
# activeConnections
# usedConnections
# gc
# threadCount
# loadedClassesCount
# usedNonHeapMemory
# usedPhysicalMemorySize
# usedSwapSpaceSize
# httpSessionsMeanAge
# sqlHitsRate
# sqlMeanTimes
# sqlSystemErrors
# fileDescriptors
#

# predefined entry for self monitoring
- name: melodyexporter
  url: "http://localhost:8080/melodyexporter/monitoring"
  login:
  password:
  metrics:
  - name: cpu
    labels:
      env: monitoring
  - name: usedMemory
    labels:
      env: monitoring

#
...
#
