<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JavaMelody Prometheus Exporter</display-name>
  <servlet>
    <description></description>
    <display-name>MetricsServlet</display-name>
    <servlet-name>MetricsServlet</servlet-name>
    <servlet-class>fr.fam.melodyexporter.MetricsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetricsServlet</servlet-name>
    <url-pattern>/metrics</url-pattern>
  </servlet-mapping>
</web-app>
